/**{*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  !*background: url("https://i.pinimg.com/originals/c4/b6/3f/c4b63f89596fdf871f1752af273643e0.jpg") no-repeat;*!*/

/*}*/
/*body {*/

/*  !*display:flex;*!*/
/*  !*justify-content: center;*!*/
/*  !*align-items: stretch;*!*/
/*  !*height: 100%;*!*/
/*  !*https://i.gifer.com/2r4z.gif*!*/

/*  background: url("https://i.pinimg.com/originals/c4/b6/3f/c4b63f89596fdf871f1752af273643e0.jpg") no-repeat;*/
/*  -moz-background-size: 100%; !* Firefox 3.6+ *!*/
/*  -webkit-background-size: 100%; !* Safari 3.1+ и Chrome 4.0+ *!*/
/*  -o-background-size: 100%; !* Opera 9.6+ *!*/
/*  background-size: 100%; !* Современные браузеры *!*/

/*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
/*    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
/*    sans-serif;*/


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
